<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1>Let's enjoy our meal Admin page</h1>
        <P>Let's enjoy our meal! Tracy!</p>
      </div>

    </div>
  </body>
</html>
